In [ ]:
import pandas as pd 
print('Hello world')

In [3]:
import numpy as np 
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

In [ ]:
df1 = pd.read_csv('./data/Bengaluru_House_Data.csv')
df1.head()

In [ ]:
df1.shape

In [ ]:
df1.groupby('area_type')['area_type'].agg('count')

Dropping some values

In [ ]:
df2 = df1.drop(['area_type','society','balcony','availability'],axis='columns')
df2.head()

In [ ]:
df2.isnull().sum()

In [ ]:
df3 = df2.dropna()
df3.isnull().sum()

In [ ]:
df3['size'].unique()

In [ ]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))
df3.head()

In [ ]:
df3['bhk'].unique()

In [ ]:
df3[df3.bhk>20]

EXPLORING THE SQUAREFEET FEATURE

In [ ]:
df3.total_sqft.unique()

In [28]:
def is_float(x):
  try:
    float(x)
  except:
    return False
  return True

In [ ]:
df3[~df3['total_sqft'].apply(is_float)].head(10)

In [31]:
def convert_sqft_to_num(x):
  tokens = x.split('-')
  if len(tokens) == 2:
    return (float(tokens[0]) + float(tokens[1])) / 2
  
  try:
    return float(x)
  except:
    return None

In [33]:
convert_sqft_to_num('2309 - 3400')

2854.5

In [ ]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sqft_to_num)
df4.head(10)

In [ ]:
df4.loc[30]

DATA MANINPULATION AND PROCESSING

In [ ]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']/df5['total_sqft']
df5.head(10)

In [38]:
# ecploring location 
len(df5.location.unique())

1304

In [43]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)
len(location_stats[location_stats <=10])

1052

In [44]:
location_stats_less_10 = location_stats[location_stats <= 10 ]
location_stats_less_10

location
Basapura                 10
1st Block Koramangala    10
Gunjur Palya             10
Kalkere                  10
Sector 1 HSR Layout      10
                         ..
1 Giri Nagar              1
Kanakapura Road,          1
Kanakapura main  Road     1
Karnataka Shabarimala     1
whitefiled                1
Name: location, Length: 1052, dtype: int64

In [45]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_10 else x )
len(df5.location.unique())

242

In [46]:
df5.head(10)

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,0.036998
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,0.046154
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,0.043056
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,0.062459
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,0.042500
5,Whitefield,2 BHK,1170.0,2.0,38.00,2,0.032479
6,Old Airport Road,4 BHK,2732.0,4.0,204.00,4,0.074671
7,Rajaji Nagar,4 BHK,3300.0,4.0,600.00,4,0.181818
8,Marathahalli,3 BHK,1310.0,3.0,63.25,3,0.048282
9,other,6 Bedroom,1020.0,6.0,370.00,6,0.362745